/* styles.css */
@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';


body{
    /*overflow-x: hidden;*/
    /*height: 100vh;*/
    /*width: 100vw;*/
    margin: 0;
    font-size: 18px !important;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}


.text-transition-enter-active,
.text-transition-leave-active {
    transition: opacity 1s ease-in-out;
}

.text-transition-enter, .text-transition-leave-to /* .text-transition-leave-active in <2.1.8 */ {
    opacity: 0;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 1s;
}

@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #31394D;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgba(61, 20, 43, 0.87), #831818,rgba(164,255,145,0));

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

